// 1. reset
// 2. variables
// 3. mixins
// 4. header
// 5. display
// 6. map

// 1. reset
@import "./reset.scss";

// 2. variables
@import "./variables";

// 3. mixins
// 4. header
header {
    background-image: url(../images/pattern-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding: 3rem;
    h1 {
        margin: 1rem;
        font-weight: 500;
        font-size: 3rem;
        color: white;
    }
    span {
        width: 70%;
        position: relative;
        input {
            width: 100%;
            padding: 2rem;
            border-radius: 10px;
            border: none;
            position: relative;
            &:focus {
                outline: 0;
            }
        }
        button {
            cursor: pointer;
            width: 50px;
            border-radius: 0 10px 10px 0;
            border: 0;
            background-color: black;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            background-image: url(../images/icon-arrow.svg);
            background-repeat:  no-repeat;
            background-size: 20%;
            background-position: center;
        }
    }
}

// 5. display
.display-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: min-content;
    padding: 2rem;
}
.data {
    text-align: left;
    padding: 1rem;
    h4 { color: $lighter-gray;}
    span { font-weight: 700;}
    &:nth-child(1) { border-right: $lighter-gray 2px solid;}
    &:nth-child(2) { border-right: $lighter-gray 2px solid;}
    &:nth-child(3) { border-right: $lighter-gray 2px solid;}
}
// 6. map